<form [formGroup]="paginesForm" class="row px-3 my-2 ">
    <div class="my-2 row align-items-end">
        <label class="form-label col-sm-5 col-md-12 col-lg-6 col-xxl-5" 
            for="numPagines" >
            Número de pàgines:
        </label>
        <div class="input-group col-auto" style="max-width: fit-content;">
            <button class="btn btn-sm btn-primary fw-bold"
                type="button"
                (click)="incrementar('pagines')">
                +</button>
            <input class="form-control text-center"
                type="number" 
                min="1"
                size="10"
                formControlName="pagines">
            <button class="btn btn-sm btn-primary fw-bold"
                type="button"
                (click)="decrementar('pagines')">
                -</button>
            </div>
            <app-modal (click)="modalPagines( 'pagines' )" style="max-width: fit-content;" class="p-0"></app-modal>
        </div>

    <div class="my-2 row align-items-end">
        <label class="form-label col-sm-5 col-md-12 col-lg-6 col-xxl-5 " 
            for="numPagines">
            Número d'idiomes: 
        </label>
            <div class="input-group" style="max-width: fit-content;">
                <button class="btn btn-sm btn-primary fw-bold"
                    type="button"
                    (click)="incrementar('idiomes')">
                    +</button>
                <input class="form-control text-center"
                    type="number"
                    formControlName="idiomes"
                    min="1">
                <button class="btn btn-sm btn-primary fw-bold"
                    type="button"
                    (click)="decrementar('idiomes')">
                    -</button>
                </div>
                <app-modal (click)="modalPagines( 'idiomes' )" style="max-width: fit-content;" class="p-0"></app-modal>
    </div>
</form>
