<div class="row p-3 my-3 border border-2 border-secondary rounded-3">
    <form [formGroup]="paginesForm">
        <div class="my-2 row">
            <label class="form-label my-auto col-auto" for="numPagines">Número de pàgines: </label>
            <div class="col-auto ">
                <div class="input-group">
                    <button class="btn btn-sm btn-primary fw-bold"
                        type="button"
                        (click)="incrementar('pagines')">
                        +</button>
                    <input class="form-control text-center"
                        type="number" 
                        min="1"
                        size="10"
                        formControlName="pagines"
                        (change)="enviarForm()">
                    <button class="btn btn-sm btn-primary fw-bold"
                        type="button"
                        (click)="decrementar('pagines')">
                        -</button>
                </div>
            </div>
        </div>

        <div class="my-2 row">
            <label class="form-label my-auto col-auto" for="numPagines">Número d'idiomes: </label>
            <div class="col-auto">
                <div class="input-group">
                    <button class="btn btn-sm btn-primary fw-bold"
                        type="button"
                        (click)="incrementar('idiomes')">
                        +</button>
                    <input class="form-control text-center"
                        type="number"
                        formControlName="idiomes"
                        min="1"
                        (change)="enviarForm()">
                    <button class="btn btn-sm btn-primary fw-bold"
                        type="button"
                        (click)="decrementar('idiomes')">
                        -</button>
                </div>
            </div>
        </div>
    </form>
</div>