<!-- Button trigger modal -->
<a class="link-warning fs-4" data-bs-toggle="modal" data-bs-target="#exampleModal"><i class="bi bi-info-circle-fill"></i></a>

<!-- Modal -->
<div class="modal fade " id="exampleModal" tabindex="-1" aria-labelledby="ModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content border border-3 border-secondary rounded-3">
            <div class="modal-header">
                <h5 class="modal-title" id="ModalLabel">Informació</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                {{ mostrarText() }}
            </div>
        </div>
    </div>
</div>